fieldset {
	max-width: 800px;
	margin: 0 auto 1em;
	padding: 20px 40px;
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 3fr;
	border: none;
	border-top: var(--thick-border);
	border-left: var(--thick-border);
	border-top-left-radius: 20px;
	align-items: baseline;

	&:last-of-type {
		margin-bottom: 0;
	}
}

legend {
	padding: 4px 10px;
	color: var(--bgc);
	background-color: var(--fgc);
	border: var(--thick-border);
	border-radius: 1000px;
}

.category-heading {
	grid-column: 1 / span 2;
	margin: 0;
}

section {
	grid-column: 1 / span 2;
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 3fr;
}

label {
	grid-column: 1 / span 1;
	text-align: right;
	align-self: center;
	font-size: 1rem;
}

input[type="text"],
select {
	grid-column: 2 / span 1;
	border: var(--thin-border);
	color: var(--fgc);
	background-color: var(--white);
	padding: 5px;
	border-radius: 5px;
	font-size: 1rem;
}
