nav {
	position: absolute;
	top: 5px;
	right: 5px;
	text-align: right;

	span {
		display: none;
	}

	#menu-trigger {
		background: none;
		border: none;
		display: block;
		color: currentColor;
		font-size: 3rem;
		cursor: pointer;
		position: absolute;
		right: 0;

		&:before {
			display: block;
			border: 1px solid transparent;
			border-radius: 20px;
			width: 50px;
			height: 50px;
			padding: 0 8px 16px;
			content: "☰";
		}

		&:hover {
			&:before {
				border: 1px solid currentColor;
			}
		}
	}

	#menu {
		display: none;
		padding: 5px;
		text-align: right;
		font-size: 2rem;
		position: absolute;
		top: 4rem;
		right: 1rem;

		ul {
			padding: none;
		}

		li {
			list-style: none;
			padding: 0;
		}

		a {
			background: none;
			color: currentColor;
			cursor: pointer;
			border: none;
			font-size: 2rem;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&.open {
		#menu-trigger:before {
			content: "×";
		}

		#menu {
			display: block;
		}
	}
}
