#puzzle {
	margin: 2em auto 0;
	padding: 10px;
	display: grid;
	gap: 0;
	justify-content: center;
}

.box {
	border-right: var(--thick-border);
	border-bottom: var(--thick-border);
	background-color: var(--white);
	display: grid;
}

#box1 {
	grid-area: 2 / 2;
	border: var(--thick-border);
}

#box2 {
	grid-area: 2 / 3;
	border-top: var(--thick-border);
}

#box3 {
	grid-area: 3 / 2;
	border-left: var(--thick-border);
}

#box4 {
	grid-area: 2 / 4;
	border-top: var(--thick-border);
}

#box5 {
	grid-area: 3 / 3;
}

#box6 {
	grid-area: 4 / 2;
	border-left: var(--thick-border);
}

.labels {
	display: grid;
	grid-template-rows: var(--cell-size) auto;
	grid-template-columns: auto;
	border: var(--thick-border);
	border-bottom: none;
	border-left: none;

	.group {
		text-align: center;
		padding: 0;
		grid-column: 1 / span 6;
		grid-row: 1 / span 1;
		color: var(--white);
		background-color: var(--fgc);
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		font-family: var(--hyperlegible);
	}

	.item {
		padding: 5px;
		writing-mode: vertical-lr;
		transform: rotate(180deg);
		transform-origin: 50% 50%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-family: var(--hyperlegible);
	}
}

[data-size="3"] .labels .group {
	grid-row: 1 / span 1;
	grid-column: 1 / span 3;
}
[data-size="4"] .labels .group {
	grid-row: 1 / span 1;
	grid-column: 1 / span 4;
}
[data-size="5"] .labels .group {
	grid-row: 1 / span 1;
	grid-column: 1 / span 5;
}
[data-size="6"] .labels .group {
	grid-row: 1 / span 1;
	grid-column: 1 / span 6;
}

.labels-side {
	grid-template-rows: auto;
	grid-template-columns: var(--cell-size) auto;
	border: var(--thick-border);
	border-right: none;
	border-top: none;

	.group {
		writing-mode: vertical-lr;
		transform: rotate(180deg);
		transform-origin: 50% 50%;
		vertical-align: middle;
		grid-column: 1 / span 1;
		grid-row: 1 / span 6;
	}

	.item {
		text-align: right;
		writing-mode: initial;
		transform: rotate(0deg);
		justify-content: flex-end;
	}
}

[data-size="3"] .labels-side .group {
	grid-column: 1 / span 1;
	grid-row: 1 / span 3;
}

[data-size="4"] .labels-side .group {
	grid-column: 1 / span 1;
	grid-row: 1 / span 4;
}

[data-size="5"] .labels-side .group {
	grid-column: 1 / span 1;
	grid-row: 1 / span 5;
}

[data-size="6"] .labels-side .group {
	grid-column: 1 / span 1;
	grid-row: 1 / span 6;
}

#labels0 {
	grid-area: 2 / 1;
	border-top: var(--thick-border);
}

#labels1 {
	grid-area: 1 / 2;
	border-left: var(--thick-border);
}

#labels2 {
	grid-area: 1 / 3;
}

#labels2a {
	grid-area: 4 / 1;
}

#labels3 {
	grid-area: 3 / 1;
}

#labels3a {
	grid-area: 1 / 4;
}

[data-cats="3"] #labels2a {
	grid-area: 3 / 1;
}

.cell {
	font-size: 150%;
	border-left: var(--thin-border);
	border-top: var(--thin-border);
	display: table-cell;
	width: var(--cell-size);
	height: var(--cell-size);
	padding: 5px 2px 2px;
	// justify-self: center;
	// align-self: center;
	text-align: center;
	vertical-align: center;
	cursor: pointer;
}

.cell[data-row="1"] {
	border-top: none;
}

.cell[data-col="1"] {
	border-left: none;
}

/*
.state1 {
	background-color: red;
}
.state2 {
	background-color: green;
}
.state3 {
	background-color: pink;
}
.state4 {
	background-color: black;
}
*/
