---
layout: main.njk
title: Murdle Helper ~*~ About
pagename: about
---

<main>

	<h1>What’s All This Then?</h1>

	<p>When I was a kid in the 80s, I loved a puzzle book. Word Searches, Spot the Difference, CrissCross, any kind of number puzzle... I loved it. But my absolute favourite was the Logic Problem.</p>

	<p>pic of a logic problem grid</p>

	section

</main>
