---
layout: main.njk
title: Murdle Helper
pagename: main
---

<main>

	<h1>{{ title }}</h1>

	<div id="puzzle">

	</div>

	<div id="controls">
		<a id="settingsLink" href="/edit">Settings</a>
	</div>

</main>
