---
layout: main.njk
title: Murdle Helper
---

<main>

	<h1>HEADING 1</h1>

	<div id="puzzle">

	</div>

	<div id="controls">
		<select name="categoriesSelect" id="categoriesSelect">
			<option value="3">3</option>
			<option value="4" selected>4</option>
		</select>

		<select name="sizeSelect" id="sizeSelect">
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5" selected>5</option>
			<option value="6">6</option>
		</select>

		<a href="/settings">Settings</a>
	</div>

</main>
