---
layout: main.njk
title: Murdle Helper
pagename: main
---

<main>
	{% include "nav.njk" %}

	<h1>{{ title }}</h1>

	<div id="puzzle"></div>

	<div id="controls">
		<button id="clearButton">Clear</button>
		<button id="exampleButton">Example</button>
	</div>

	<div id="exampleText">
		<p>Five boys at Leyton High School each took an exam in their favourite subject with their favourite teacher on the same day. No two students received the same grade, and no two students favoured the same subject. How did they do?</p>
		<ul>
			<li>Dave’s favourite teacher’s surname starts with ‘M’</li>
			<li>Adrian hates chemistry as much as Steve loves French</li>
			<li>The student who had a maths exam that day was happy to get a ‘B’</li>
			<li>Nicko was not so happy when he read that his grade was an ‘E’</li>
			<li>Bruce’s favourite subject is History</li>
			<li>Neither Dr Malmsteen nor Mr Mustaine teach subjects that start with ‘M’</li>
			<li>Leyton High’s music teacher is Mr Bettencourt</li>
			<li>Mrs Hammett was unwell when marking her exams, and just gave everyone a ‘C’</li>
			<li>Dave’s grade was better than Nicko’s but worse than Adrian’s</li>
			<li>Dr Malmsteen’s favourite pupil is Bruce, and vice versa</li>
		</ul>
{#
		<table border="1" cellpadding="4" cellspacing="4">
			<tr>
				<td>Adrian</td>
				<td>Maths</td>
				<td>Miss Petrucci</td>
				<td>B</td>
			</tr>
			<tr>
				<td>Bruce</td>
				<td>History</td>
				<td>Dr Malmsteen</td>
				<td>A</td>
			</tr>
			<tr>
				<td>Dave</td>
				<td>Chemistry</td>
				<td>Mr Mustaine</td>
				<td>D</td>
			</tr>
			<tr>
				<td>Nicko</td>
				<td>Music</td>
				<td>Mr Bettencourt</td>
				<td>E</td>
			</tr>
			<tr>
				<td>Steve</td>
				<td>French</td>
				<td>Mrs Hammett</td>
				<td>C</td>
			</tr>
		</table> #}

	</div>

</main>
