$thickBorder: 2px solid black;
$thinBorder: 1px solid grey;
$cellSize: 40px;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#puzzle {
	margin: 2em auto;
	// max-width: 1000px;
	// border: 2px solid green;
	padding: 10px;
	display: grid;
	gap: 0;
	justify-content: center;
}

.box {
	border-right: $thickBorder;
	border-bottom: $thickBorder;
	display: grid;
}

#box1 {
	grid-area: 2 / 2;
	border: $thickBorder;
}

#box2 {
	grid-area: 2 / 3;
	border-top: $thickBorder;
}

#box3 {
	grid-area: 3 / 2;
	border-left: $thickBorder;
}

#box4 {
	grid-area: 2 / 4;
	border-top: $thickBorder;
}

#box5 {
	grid-area: 3 / 3;
}

#box6 {
	grid-area: 4 / 2;
	border-left: $thickBorder;
}

.labels {
	display: grid;
	grid-template-rows: $cellSize auto;
	grid-template-columns: auto;
	border: $thickBorder;
	border-bottom: none;
	border-left: none;

	.group {
		text-align: center;
		padding: 0;
		grid-column: 1 / span 6;
		grid-row: 1 / span 1;
		color: #fff;
		background-color: #000;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.item {
		padding: 5px;
		writing-mode: vertical-lr;
		transform: rotate(180deg);
		transform-origin: 50% 50%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
}

[data-size="3"] .labels .group {
	grid-row: 1 / span 1;
	grid-column: 1 / span 3;
}
[data-size="4"] .labels .group {
	grid-row: 1 / span 1;
	grid-column: 1 / span 4;
}
[data-size="5"] .labels .group {
	grid-row: 1 / span 1;
	grid-column: 1 / span 5;
}
[data-size="6"] .labels .group {
	grid-row: 1 / span 1;
	grid-column: 1 / span 6;
}

.labels-side {
	grid-template-rows: auto;
	grid-template-columns: $cellSize auto;
	border: $thickBorder;
	border-right: none;
	border-top: none;

	.group {
		writing-mode: vertical-lr;
		transform: rotate(180deg);
		transform-origin: 50% 50%;
		vertical-align: middle;
		grid-column: 1 / span 1;
		grid-row: 1 / span 6;
	}

	.item {
		text-align: right;
		writing-mode: initial;
		transform: rotate(0deg);
		justify-content: flex-end;
	}
}

[data-size="3"] .labels-side .group {
	grid-column: 1 / span 1;
	grid-row: 1 / span 3;
}

[data-size="4"] .labels-side .group {
	grid-column: 1 / span 1;
	grid-row: 1 / span 4;
}

[data-size="5"] .labels-side .group {
	grid-column: 1 / span 1;
	grid-row: 1 / span 5;
}

[data-size="6"] .labels-side .group {
	grid-column: 1 / span 1;
	grid-row: 1 / span 6;
}

#labels0 {
	grid-area: 2 / 1;
	border-top: $thickBorder;
}

#labels1 {
	grid-area: 1 / 2;
	border-left: $thickBorder;
}

#labels2 {
	grid-area: 1 / 3;
}

#labels2a {
	grid-area: 4 / 1;
}

#labels3 {
	grid-area: 3 / 1;
}

#labels3a {
	grid-area: 1 / 4;
}

.cell {
	font-size: 150%;
	border-left: $thinBorder;
	border-top: $thinBorder;
	display: table-cell;
	width: $cellSize;
	height: $cellSize;
	padding: 5px 2px 2px;
	// justify-self: center;
	// align-self: center;
	text-align: center;
	vertical-align: center;
	cursor: pointer;
}

.cell[data-row="1"] {
	border-top: none;
}

.cell[data-col="1"] {
	border-left: none;
}

/*
.state1 {
	background-color: red;
}
.state2 {
	background-color: green;
}
.state3 {
	background-color: pink;
}
.state4 {
	background-color: black;
}
*/

#controls {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
}

select {
	font-size: 200%;
	min-width: 200px;
}
