@use "partials/fonts";
@use "partials/nav";
@use "partials/buttons";

$cellSize: 40px;
$hyperlegible: "Atkinson-Hyperlegible", sans-serif;
$comfortaa: "Comfortaa", sans-serif;
$bgc: #fff9f9;
$fgc: #400;
$white: white;
$thickBorder: 2px solid $fgc;
$thinBorder: 1px solid rgb(from $fgc r g b / 0.25);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1rem;
}

body {
	background-color: $bgc;
	color: $fgc;
	font-family: $hyperlegible;
	font-size: 1rem;
}

h1 {
	font-family: $comfortaa;
	margin: 1em auto;
	text-align: center;
	font-size: 2em;
}

#puzzle {
	margin: 2em auto;
	padding: 10px;
	display: grid;
	gap: 0;
	justify-content: center;
}

.box {
	border-right: $thickBorder;
	border-bottom: $thickBorder;
	background-color: $white;
	display: grid;
}

#box1 {
	grid-area: 2 / 2;
	border: $thickBorder;
}

#box2 {
	grid-area: 2 / 3;
	border-top: $thickBorder;
}

#box3 {
	grid-area: 3 / 2;
	border-left: $thickBorder;
}

#box4 {
	grid-area: 2 / 4;
	border-top: $thickBorder;
}

#box5 {
	grid-area: 3 / 3;
}

#box6 {
	grid-area: 4 / 2;
	border-left: $thickBorder;
}

.labels {
	display: grid;
	grid-template-rows: $cellSize auto;
	grid-template-columns: auto;
	border: $thickBorder;
	border-bottom: none;
	border-left: none;

	.group {
		text-align: center;
		padding: 0;
		grid-column: 1 / span 6;
		grid-row: 1 / span 1;
		color: $white;
		background-color: $fgc;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		font-family: $hyperlegible;
	}

	.item {
		padding: 5px;
		writing-mode: vertical-lr;
		transform: rotate(180deg);
		transform-origin: 50% 50%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-family: $hyperlegible;
	}
}

[data-size="3"] .labels .group {
	grid-row: 1 / span 1;
	grid-column: 1 / span 3;
}
[data-size="4"] .labels .group {
	grid-row: 1 / span 1;
	grid-column: 1 / span 4;
}
[data-size="5"] .labels .group {
	grid-row: 1 / span 1;
	grid-column: 1 / span 5;
}
[data-size="6"] .labels .group {
	grid-row: 1 / span 1;
	grid-column: 1 / span 6;
}

.labels-side {
	grid-template-rows: auto;
	grid-template-columns: $cellSize auto;
	border: $thickBorder;
	border-right: none;
	border-top: none;

	.group {
		writing-mode: vertical-lr;
		transform: rotate(180deg);
		transform-origin: 50% 50%;
		vertical-align: middle;
		grid-column: 1 / span 1;
		grid-row: 1 / span 6;
	}

	.item {
		text-align: right;
		writing-mode: initial;
		transform: rotate(0deg);
		justify-content: flex-end;
	}
}

[data-size="3"] .labels-side .group {
	grid-column: 1 / span 1;
	grid-row: 1 / span 3;
}

[data-size="4"] .labels-side .group {
	grid-column: 1 / span 1;
	grid-row: 1 / span 4;
}

[data-size="5"] .labels-side .group {
	grid-column: 1 / span 1;
	grid-row: 1 / span 5;
}

[data-size="6"] .labels-side .group {
	grid-column: 1 / span 1;
	grid-row: 1 / span 6;
}

#labels0 {
	grid-area: 2 / 1;
	border-top: $thickBorder;
}

#labels1 {
	grid-area: 1 / 2;
	border-left: $thickBorder;
}

#labels2 {
	grid-area: 1 / 3;
}

#labels2a {
	grid-area: 4 / 1;
}

#labels3 {
	grid-area: 3 / 1;
}

#labels3a {
	grid-area: 1 / 4;
}

[data-cats="3"] #labels2a {
	grid-area: 3 / 1;
}

.cell {
	font-size: 150%;
	border-left: $thinBorder;
	border-top: $thinBorder;
	display: table-cell;
	width: $cellSize;
	height: $cellSize;
	padding: 5px 2px 2px;
	// justify-self: center;
	// align-self: center;
	text-align: center;
	vertical-align: center;
	cursor: pointer;
}

.cell[data-row="1"] {
	border-top: none;
}

.cell[data-col="1"] {
	border-left: none;
}

/*
.state1 {
	background-color: red;
}
.state2 {
	background-color: green;
}
.state3 {
	background-color: pink;
}
.state4 {
	background-color: black;
}
*/

#controls {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
}

// select {
// 	font-size: 200%;
// 	min-width: 200px;
// }

fieldset {
	max-width: 800px;
	margin: 0 auto 1em;
	padding: 20px 40px;
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 3fr;
	border: none;
	border-top: $thickBorder;
	border-left: $thickBorder;
	border-top-left-radius: 20px;
	align-items: baseline;

	&:last-of-type {
		margin-bottom: 0;
	}
}

legend {
	padding: 4px 10px;
	color: $bgc;
	background-color: $fgc;
	border: $thickBorder;
	border-radius: 1000px;
}

p,
section {
	grid-column: 1 / span 2;
}

section {
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 3fr;
}

label {
	grid-column: 1 / span 1;
	text-align: right;
	align-self: center;
	font-size: 1rem;
}

input[type="text"],
select {
	grid-column: 2 / span 1;
	border: $thinBorder;
	color: $fgc;
	background-color: $white;
	padding: 5px;
	border-radius: 5px;
	font-size: 1rem;
}

.hide {
	display: none;
}

ul {
	padding-left: 30px;
}
