* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#puzzle {
	margin: 2em auto;
	max-width: 1000px;
	border: 2px solid green;
	padding: 10px;
}

.box {
	border: 2px solid red;
	display: grid;
	width: 200px;
	height: 200px;
}

.box-size3 {
	width: 200px;
	height: 200px;
}

.box-size4 {
	width: 250px;
	height: 250px;
}

.box-size5 {
	width: 300px;
	height: 300px;
}

.cell {
	border: 1px solid blue;
	// width: 40px;
	// height: 40px;
	margin: 2px;
	padding: 2px;
}
