@use "partials/vars";
@use "partials/fonts";
@use "partials/global";
@use "partials/nav";
@use "partials/buttons";
@use "partials/lists";
@use "partials/controls";
@use "partials/puzzle";
@use "partials/example";
@use "partials/edit";
@use "partials/typography";
@use "partials/utility";
