$thickBorder: 2px solid black;
$thinBorder: 1px solid grey;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#puzzle {
	margin: 2em auto;
	max-width: 1000px;
	border: 2px solid green;
	padding: 10px;
	display: grid;
	gap: 0;
	justify-content: center;
}

.box {
	border-right: $thickBorder;
	border-bottom: $thickBorder;
	display: grid;
}

#box1 {
	grid-area: 1 / 1;
	border: $thickBorder;
}

#box2 {
	grid-area: 1 / 2;
	border-top: $thickBorder;
}

#box3 {
	grid-area: 2 / 1;
	border-left: $thickBorder;
}

#box4 {
	grid-area: 1 / 3;
	border-top: $thickBorder;
}

#box5 {
	grid-area: 2 / 2;
}

#box6 {
	grid-area: 3 / 1;
	border-left: $thickBorder;
}

.cell {
	font-size: 150%;
	border-left: $thinBorder;
	border-top: $thinBorder;
	display: table-cell;
	width: 50px;
	height: 50px;
	padding: 10px 2px 2px;
	// justify-self: center;
	// align-self: center;
	text-align: center;
	vertical-align: center;
	cursor: pointer;
}

.cell[data-row="1"] {
	border-top: none;
}

.cell[data-col="1"] {
	border-left: none;
}

/*
.state1 {
	background-color: red;
}
.state2 {
	background-color: green;
}
.state3 {
	background-color: pink;
}
.state4 {
	background-color: black;
}
*/
